<body>
  <div id="contact">
<br>
  <% # below needs to be an @emotion url verse %>
    <h1 style="font-size: 4.4em; font-style:italic;"> You felt  </h1>
    <h1><strong><%= @emotion.name.upcase %></strong> because </h1>

    <h1 style="font-size: 3.4em; font-style:italic;"><%= @emotion.content %> </h1>
    <h2>Choose the bible verse you'd like to keep.</h2>
    <br>
    <form action="/emotions/<%=@emotion.slug%>" method="post">
    <ul style="text-align:left;"><% @emotion.verse.split("***").each do |verse| %>
      <br>
     <input type="checkbox" name="verse[]" value="<%=verse%>">  <%=verse %> </input>
     <p></p>
     <br>
    <% end %></ul>
    <input type="submit" value="Make it your verse">
      </form>
      <br>
    <a href="/emotions/<%= @emotion.slug %>/edit">Edit</a>
    &nbsp; | &nbsp;
    <a href="/emotions/<%= @emotion.slug %>/delete">Delete</a>
    <br>
    <br>
    <footer style="font-size:1.7em;">CONFIDANT: BUILT WITH LOVE</footer>
    <br>
    <p></p>
  </div>

</body>
