<form action="/emotions/<%= @emotion.slug %>" method="post">
   <input id="hidden" type="hidden" name="_method" value="patch">
   <% if flash.has?(:message) %>
  <h1><%= flash[:message] %></h1>
   <% end %>
<h1>Edit <strong><%= @emotion.name.upcase%></strong> to -</h1>
<br>
<input type="text" name="name" id="content">
<br>
<h2>Edit <i>why</i>: <u><%= @emotion.content %></u></h2>
<br>
<textarea cols="60" rows="9" type="text" name="content" id="content"></textarea>
<br>
<ul style="text-align:left;"><% @emotion.verse.split("***").each do |verse| %>
  <br>
 <input type="checkbox" name="verse[]" value="<%=verse%>"><%=verse %> </input>
 <p></p>
 <br>
<% end %></ul>
<br>
  <input type="submit" value="submit">
</form>
<br>

&nbsp; | &nbsp;
<a href="/emotions">Home</a>
&nbsp; | &nbsp;
<br>
<p></p>
<footer style="font-size:1.7em;">CONFIDANT: Built with <strong>LOVE</strong></footer>
<p></p>
<br>
<br>
